{% extends 'base/BaseBooks.html.twig' %}

{% block content %}
    <div class="container">
        {% for book in books %}

            <div class="block">
                <img class="adminBook_img" src="{{ asset('uploads/book/'~book.bookCover) }}" alt="">
                <p>Titre : {{ book.title }}</p>
                <p>Nombres de pages : {{ book.NbPages }}</p>
                <p><a href="{{ path("AdminBooksInsert", {'id' : book.id }) }}">Ajouter un livre</a></p>
                <p><a href="{{ path("AdminBooksUpdate", {'id' : book.id}) }}">Modifier ce livre</a></p>
                <p><a href="{{ path('AdminBooksDelete', {'id' : book.id}) }}"> Supprimer ce livre </a></p>
            </div>

        {% endfor %}
    </div>
    <button><a href="{{ path('app_logout') }}">Déconnexion</a></button>

{% endblock content %}