{% extends 'BaseAuthors.html.twig' %}

{% block content %}

    <div class="authors">
{% for author in authors %}

    <div class="author">
    <p>Nom : {{ author.firstname }}</p>
    <p>Prénom : {{ author.lastname }}</p>
    <p>{{ author.birthdate | date("d/m/Y") }}</p>
    <p class="text">Biographie : {{ author.biography }}</p>
        <a href="{{ path('author2', {'id' : author.id}) }}"> Voir cet autheur </a>
    </div>

{% endfor %}
    </div>
{% endblock content %}